## Topic Modeling 

we will be covering the steps on how to do Latent Dirichlet Allocation (LDA), which is one of many topic modeling techniques. It was specifically designed for text data.

To use a topic modeling technique, you need to provide (1) a document-term matrix and (2) the number of topics you would like the algorithm to pick up.

Once the topic modeling technique is applied, your job as a human is to interpret the results and see if the mix of words in each topic make sense. If they don't make sense, you can try changing up the number of topics, the terms in the document-term matrix, model parameters, or even try a different model.

In [1]:
# Let's read in our document-term matrix
import pandas as pd
import pickle

data = pd.read_pickle('dtm_stop.pkl')
data

,aaaah,aaahhh,aaaw,aah,aall,aand,aarrives,aaw,abandon,abbey,...,youngest,youtube,youve,yup,yyou,yyour,zabadaladabaabala,zero,zipup,zubadabadabaabala
Amanda Seales,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,0,1
Bert Kreischer,0,0,0,0,0,0,0,0,0,1,...,2,0,2,0,0,0,0,0,0,0
Marc Maron,0,0,0,0,0,0,0,0,0,0,...,0,0,2,3,0,0,0,0,0,0
Pete Davidson,0,0,0,0,1,3,1,0,0,0,...,0,0,1,0,2,1,0,0,0,0
Stewart Lee,1,1,1,1,0,0,0,2,1,0,...,0,1,20,0,0,0,0,0,1,0

In [3]:
# Import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator: conda install -c conda-forge gensim
from gensim import matutils, models
import scipy.sparse

In [4]:

# One of the required inputs is a term-document matrix
tdm = data.transpose()
tdm.head()

        Amanda Seales  Bert Kreischer  Marc Maron  Pete Davidson  Stewart Lee
aaaah               0               0           0              0            1
aaahhh              0               0           0              0            1
aaaw                0               0           0              0            1
aah                 0               0           0              0            1
aall                0               0           0              1            0

In [5]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [6]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())


Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term), we need to specify two other parameters - the number of topics and the number of passes. Let's start the number of topics at 2, see if the results make sense, and increase the number from there.

In [7]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.008*"goes" + 0.006*"gonna" + 0.006*"oh" + 0.006*"man" + 0.006*"hes" + 0.006*"people" + 0.005*"day" + 0.005*"did" + 0.005*"okay" + 0.005*"theyre"'),
 (1,
  '0.015*"uh" + 0.009*"people" + 0.006*"said" + 0.006*"theres" + 0.006*"going" + 0.006*"ive" + 0.005*"laughter" + 0.005*"didnt" + 0.005*"did" + 0.005*"hes"')]

In [8]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.014*"uh" + 0.008*"goes" + 0.007*"cause" + 0.006*"oh" + 0.006*"hes" + 0.006*"fuck" + 0.006*"gonna" + 0.006*"guy" + 0.006*"man" + 0.006*"people"'),
 (1,
  '0.000*"people" + 0.000*"uh" + 0.000*"goes" + 0.000*"hes" + 0.000*"oh" + 0.000*"fuck" + 0.000*"said" + 0.000*"theres" + 0.000*"going" + 0.000*"man"'),
 (2,
  '0.011*"people" + 0.008*"laughter" + 0.008*"going" + 0.007*"said" + 0.007*"mate" + 0.007*"theres" + 0.006*"ive" + 0.005*"joke" + 0.005*"sort" + 0.005*"hes"')]

In [9]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.019*"uh" + 0.009*"cause" + 0.008*"people" + 0.007*"guy" + 0.007*"okay" + 0.007*"fuck" + 0.007*"oh" + 0.007*"man" + 0.006*"gonna" + 0.006*"really"'),
 (1,
  '0.018*"goes" + 0.008*"dad" + 0.008*"hes" + 0.007*"shes" + 0.006*"did" + 0.006*"want" + 0.006*"gonna" + 0.006*"ila" + 0.005*"gun" + 0.005*"day"'),
 (2,
  '0.012*"people" + 0.009*"laughter" + 0.009*"going" + 0.008*"said" + 0.007*"mate" + 0.007*"theres" + 0.007*"ive" + 0.006*"joke" + 0.005*"sort" + 0.005*"hes"'),
 (3,
  '0.001*"uh" + 0.000*"cause" + 0.000*"guy" + 0.000*"theres" + 0.000*"okay" + 0.000*"said" + 0.000*"did" + 0.000*"man" + 0.000*"people" + 0.000*"oh"')]

These topics aren't looking too great. We've tried modifying our parameters. Let's try modifying our terms list as well.

## Topic Modeling - Attempt #2 (Nouns Only)
One popular trick is to look only at terms that are from one part of speech (only nouns, only adjectives, etc.). Check out the UPenn tag set: https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html.

In [21]:
# Let's create a function to pull out nouns from a string of text

from nltk import word_tokenize, pos_tag
import nltk
nltk.download('punkt')

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Romin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [18]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                       transcript
Amanda Seales   now yall keep asking me amanda who is this spe...
Bert Kreischer    ladies and gentlemen bert kreischer  yeah wh...
Marc Maron        ladies and gentlemen please welcome to the s...
Pete Davidson   so louis ck tried to get me fired from snl my ...
Stewart Lee     this programme contains very strong language a...

In [23]:
# Apply the nouns function to the transcripts to filter only on nouns

import nltk
nltk.download('averaged_perceptron_tagger')

data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Romin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

                                                       transcript
Amanda Seales   amanda yall sisters comedy everybody everybody...
Bert Kreischer  ladies gentlemen yeah cleveland i shit bathroo...
Marc Maron      ladies gentlemen stage marc maron thank thanks...
Pete Davidson   ck snl year story like uh finale snl ii i get ...
Stewart Lee     programme language humour floorboards id junct...

In [24]:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

,aaaah,aaaw,aand,aaw,abbey,aberdeen,abortion,abusers,access,accident,...,york,youd,youll,youtube,youve,yyou,zabadaladabaabala,zero,zipup,zubadabadabaabala
Amanda Seales,0,0,0,0,0,0,0,1,2,0,...,1,0,1,0,0,0,1,1,0,1
Bert Kreischer,0,0,0,0,1,0,1,0,0,0,...,0,1,2,0,1,0,0,0,0,0
Marc Maron,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
Pete Davidson,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,0
Stewart Lee,1,1,0,2,0,1,0,0,2,1,...,1,4,1,1,7,0,0,0,1,0

In [25]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [26]:

# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.013*"man" + 0.010*"jesus" + 0.010*"day" + 0.008*"gon" + 0.008*"guy" + 0.007*"lot" + 0.006*"cause" + 0.006*"hes" + 0.006*"sort" + 0.006*"thing"'),
 (1,
  '0.010*"hes" + 0.009*"uh" + 0.009*"thing" + 0.007*"guy" + 0.006*"joke" + 0.006*"theres" + 0.006*"night" + 0.006*"dad" + 0.006*"man" + 0.005*"cause"')]

In [27]:
# Let's try topics = 3
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.001*"man" + 0.001*"hes" + 0.001*"day" + 0.000*"sort" + 0.000*"thing" + 0.000*"lot" + 0.000*"night" + 0.000*"joke" + 0.000*"jesus" + 0.000*"gon"'),
 (1,
  '0.013*"man" + 0.012*"day" + 0.011*"hes" + 0.009*"gon" + 0.008*"guy" + 0.008*"jesus" + 0.008*"shes" + 0.007*"lot" + 0.007*"cause" + 0.007*"fuck"'),
 (2,
  '0.012*"uh" + 0.010*"thing" + 0.008*"hes" + 0.008*"joke" + 0.007*"theres" + 0.007*"guy" + 0.007*"mate" + 0.007*"laughter" + 0.007*"sort" + 0.005*"night"')]

In [28]:
# Let's try 4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.010*"mate" + 0.010*"laughter" + 0.010*"joke" + 0.009*"sort" + 0.009*"thing" + 0.008*"theres" + 0.007*"game" + 0.007*"night" + 0.006*"hes" + 0.006*"thrones"'),
 (1,
  '0.016*"uh" + 0.014*"hes" + 0.013*"guy" + 0.011*"dad" + 0.010*"cause" + 0.009*"man" + 0.008*"thing" + 0.008*"day" + 0.008*"shes" + 0.008*"fuck"'),
 (2,
  '0.011*"cause" + 0.009*"women" + 0.008*"okay" + 0.008*"aint" + 0.007*"man" + 0.006*"gon" + 0.006*"yall" + 0.006*"shit" + 0.006*"dick" + 0.006*"woman"'),
 (3,
  '0.017*"man" + 0.017*"jesus" + 0.014*"day" + 0.013*"guy" + 0.012*"lot" + 0.010*"sort" + 0.009*"gon" + 0.009*"hes" + 0.008*"way" + 0.008*"thing"')]

## Topic Modeling - Attempt #3 (Nouns and Adjectives)

In [29]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [30]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                       transcript
Amanda Seales   amanda special i yall sisters comedy everybody...
Bert Kreischer  ladies gentlemen kreischer yeah cleveland i sh...
Marc Maron      ladies gentlemen welcome stage marc maron than...
Pete Davidson   louis ck snl first year story like uh finale s...
Stewart Lee     programme strong language humour floorboards i...

In [31]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aaaah,aaahhh,aaaw,aall,aand,aaw,abbey,aberdeen,able,abortion,...,youll,young,younger,youngest,youtube,yyou,zabadaladabaabala,zero,zipup,zubadabadabaabala
Amanda Seales,0,0,0,0,0,0,0,0,0,0,...,1,2,0,0,0,0,1,1,0,1
Bert Kreischer,0,0,0,0,0,0,1,0,1,1,...,2,1,0,2,0,0,0,0,0,0
Marc Maron,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
Pete Davidson,0,0,0,1,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
Stewart Lee,1,1,1,0,0,2,0,1,2,0,...,2,7,0,0,1,0,0,0,1,0

In [32]:
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [33]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.007*"sort" + 0.006*"jesus" + 0.005*"laughter" + 0.005*"mate" + 0.005*"lot" + 0.005*"black" + 0.004*"white" + 0.004*"gon" + 0.004*"guy" + 0.004*"kind"'),
 (1,
  '0.011*"guy" + 0.010*"dad" + 0.008*"cause" + 0.006*"hey" + 0.006*"fuckin" + 0.005*"wife" + 0.005*"gun" + 0.005*"gon" + 0.005*"dick" + 0.004*"lot"')]

In [34]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.008*"gon" + 0.008*"guy" + 0.008*"jesus" + 0.008*"black" + 0.006*"lot" + 0.006*"cause" + 0.006*"white" + 0.006*"okay" + 0.005*"dad" + 0.005*"dick"'),
 (1,
  '0.009*"mate" + 0.009*"laughter" + 0.008*"sort" + 0.006*"game" + 0.005*"thrones" + 0.005*"sex" + 0.004*"standup" + 0.004*"brexit" + 0.004*"internet" + 0.004*"southend"'),
 (2,
  '0.015*"guy" + 0.011*"cause" + 0.011*"fuckin" + 0.008*"dad" + 0.007*"sorry" + 0.007*"eye" + 0.006*"gay" + 0.005*"dick" + 0.005*"lot" + 0.005*"hey"')]

In [35]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.018*"white" + 0.016*"black" + 0.010*"okay" + 0.009*"cause" + 0.007*"delete" + 0.006*"aint" + 0.006*"gon" + 0.006*"yall" + 0.005*"harriet" + 0.005*"dick"'),
 (1,
  '0.010*"sort" + 0.007*"jesus" + 0.007*"laughter" + 0.007*"mate" + 0.006*"lot" + 0.005*"guy" + 0.005*"kind" + 0.004*"game" + 0.004*"years" + 0.004*"sex"'),
 (2,
  '0.001*"mate" + 0.001*"game" + 0.000*"laughter" + 0.000*"thrones" + 0.000*"sort" + 0.000*"sex" + 0.000*"guy" + 0.000*"years" + 0.000*"black" + 0.000*"gon"'),
 (3,
  '0.013*"guy" + 0.013*"dad" + 0.010*"cause" + 0.007*"hey" + 0.007*"fuckin" + 0.006*"gun" + 0.006*"wife" + 0.006*"gon" + 0.006*"dick" + 0.005*"lot"')]

## Identify Topics in Each Document

Out of the 9 topic models we looked at, the nouns and adjectives, 4 topic one made the most sense. So let's pull that down here and run it through some more iterations to get more fine-tuned topics

In [36]:
# Our final LDA model (for now)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.000*"wall" + 0.000*"wind" + 0.000*"frozen" + 0.000*"emails" + 0.000*"harry" + 0.000*"road" + 0.000*"racist" + 0.000*"sir" + 0.000*"sentence" + 0.000*"drop"'),
 (1,
  '0.012*"dad" + 0.009*"gun" + 0.009*"wife" + 0.008*"ila" + 0.007*"guns" + 0.007*"hey" + 0.006*"phone" + 0.006*"kid" + 0.006*"georgia" + 0.005*"period"'),
 (2,
  '0.010*"laughter" + 0.010*"mate" + 0.008*"sort" + 0.006*"game" + 0.006*"thrones" + 0.005*"sex" + 0.005*"standup" + 0.005*"brexit" + 0.004*"internet" + 0.004*"southend"'),
 (3,
  '0.014*"guy" + 0.010*"cause" + 0.009*"jesus" + 0.009*"gon" + 0.008*"lot" + 0.007*"okay" + 0.006*"white" + 0.006*"dick" + 0.006*"black" + 0.005*"sorry"')]

In [37]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(3, 'Amanda Seales'),
 (1, 'Bert Kreischer'),
 (3, 'Marc Maron'),
 (3, 'Pete Davidson'),
 (2, 'Stewart Lee')]